<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>資産情報登録 | SocymSlimMonopoly</title>
    </head>
    <body>
        <header>
            <h1>資産情報登録</h1>
        </header>
        <section>
            <p>
                資産情報を登録してください
            </p>
            <form action="/RegisterAssetInfo" method="post">
                <label for="cash">
                    現金&nbsp;
                    <input type="text" id="cash" name="cash" required>
                </label>
                <button type="submit">登録</button>
            </form>
        </section>
    </body>
</html>