<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>プレイヤー情報登録 | SocymSlimMonopoly</title>
    </head>
    <body>
        <header>
            <h1>プレイヤー情報登録</h1>
        </header>
        <section>
            <p>
                プレイヤーは登録ボタンをクリックしてください。
            </p>
            <form action="/playerAdd" method="post">
                <label for="addname">
                    プレイヤー名&nbsp;
                    <input type="text" id="addname" name="addname" required>
                </label>
                <button type="submit">登録</button>
            </form>
        </section>
    </body>
</html>